# Logi – niechciane pliki z błędami
logs
*.log
npm-debug.log*
yarn-debug.log*

# Zależności – NAJWAŻNIEJSZE, ignorujemy ogromny folder node_modules
node_modules

# Pliki tymczasowe i cache – generowane przez edytory i narzędzia
.DS_Store
*.swp
.env
.env.local

# Katalogi z buildem
dist
build